.sides h1 {
    font-size: 3vw;
    font-weight: 800;
}

.sides .subtitle {
    font-size: 17px;
    font-weight: 600;
}

.sides h4 {
    font-size: 17px;
    font-weight: 600;
}

.sides h6 {
    font-size: 3vw;
    font-weight: 800;
}